<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav-container" mode="side" opened>
     <mat-nav-list class="sidenav-list">
      <img class="logo-image" src="../../../assets/img/logo.png" alt="">
      <a *ngFor="let item of walletRoutes"
         mat-list-item
         (click)="sidenavItemClicked(item)"
         class="sidenav-list-item">
        <img *ngIf="item.title !== activeSidenavItem.title" class="sidenav-image"
              [attr.src]="'../../../assets/img/' + item.icon + '.png'"
              [attr.srcset]="'../../../assets/img/' + item.icon
              + '@2x.png 2x, ../../../assets/img/' + item.icon + '@3x.png 3x'" alt="">

        <img *ngIf="item.title == activeSidenavItem.title" class="sidenav-image-active"
              [attr.src]="'../../../assets/img/' + item.icon + '-active.png'"
              [attr.srcset]="'../../../assets/img/' + item.icon
              + '-active@2x.png 2x, ../../../assets/img/' + item.icon + '-active@3x.png 3x'" alt="">
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
