.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav-container {
  background-color: rgb(24,18,35);
}

.sidenav-list-item {
  height: 50px;
  width: 150px;
  margin-top: 5px;
  color: #ffffff;
}
