/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: lato;
  src: url(assets/fonts/SFUIDisplay.otf) format("opentype");
}

@font-face {
  font-family: lato;
  src: url(assets/fonts/SF-Pro-Display-Light.otf) format("opentype");
}

html, body { height: 100%; margin: 0;}

* {
  font-family: SF-Pro-Display-Light , sans-serif;
}

