<div class="wallet-transactions-container">
  <div class="wallet-title-container">
    <div class="wallet-info">
      <h1 class="wallet-title">Wallet</h1>
      <div class="status-icon"></div>
      <span class="status-title">online (testnet)</span>
    </div>
    <button mat-raised-button class="receive-button">
      <img src="../../../assets/img/icon-receive-blue.png" class="icon-receive-blue">
      receive
    </button>
    <button mat-raised-button class="send-button">
      <img src="../../../assets/img/icon-send-blue.png" class="icon-send-blue">
      send
    </button>
  </div>

  <div class="status-cards-container" *ngIf="!status_loading">
    <mat-card class="block-card available-card">
      <mat-card-header class="block-card-header">
        <mat-card-subtitle class="block-card-header-title">Available</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="block-card-content">
        <span class="block-card-content-available">{{wallet_status.available}}</span>
        <span class="block-card-content-beam">BEAM</span>
      </mat-card-content>
    </mat-card>

    <mat-card class="block-card height-card">
      <mat-card-header class="block-card-header">
        <mat-card-subtitle class="block-card-header-title">In progress</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="block-card-content">
        <div class="card-container">
          <span class="receiving-container">
            <h2 class="title">RECEIVING</h2>
            <div class="value">{{wallet_status.receiving}}</div>
            <img src="../../../assets/img/icon-receiving.svg" class="icon">
          </span>
          <span class="sending-container">
            <h2 class="title">SENDING</h2>
            <div class="value">{{wallet_status.sending}}</div>
            <img src="../../../assets/img/icon-sending.svg" class="icon">
          </span>
          <span class="maturing-container">
            <h2 class="title">MATURING</h2>
            <div class="value">{{wallet_status.maturing}}</div>
            <img src="../../../assets/img/icon-maturing.svg" class="icon">
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="table-container">
    <h2 *ngIf="!transactions_loading" class="transaction-title">Transactions</h2>

    <mat-table *ngIf="!transactions_loading" [dataSource]="wallet_transactions" class="transactions-table mat-elevation-z8">
      <ng-container matColumnDef="date">
        <mat-header-cell class="height-cell-date" *matHeaderCellDef> Date | time </mat-header-cell>
        <mat-cell class="height-cell" *matCellDef="let element">
          <span class="table-label">
            <!-- TODO: add date -->
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell class="receiver-cell-header" *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell class="receiver-cell" *matCellDef="let element">
          <span class="table-label">
            {{element.receiver}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell class="age-cell-header" *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell class="age-cell" *matCellDef="let element">
          <span class="table-label">
            {{element.value}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell class="header-row" *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="table-label">
            {{element.statusName}}
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row class="transactions-table-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="transactions-table-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
