.wallet-transactions-container {
  background-color: rgb(30,23,44);
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.wallet-title {
  margin: 50px 0 0 30px;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  float: left;
  width: 594px;
}

.receive-button {
  width: 138px;
  height: 38px;
  margin: 67px 20px 50px 0;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: rgb(11,204,247);
}

.send-button {
  width: 138px;
  height: 38px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: rgb(218,104,245);
}

.icon-receive-blue,
.icon-send-blue {
  margin-right: 15px;
  margin-bottom: 2px;
}

.block-card {
    margin: 0 0 19px 30px;
    width:431px;
    height: 215px;
    float:left;
    padding: 0;
    box-shadow: none;
    border-radius: 10px;
    background-color: rgb(52,46,65);
    color: #ffffff;
}

.block-card-header-title {
  margin-top: 50px;
  color: #ffffff;
}

.block-card-content {
  margin-left: 50px;
}

.transaction-title {
  float: left;
  margin-left: 60px;
  width: 1000px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.transactions-table {
  background-color: rgb(52,46,65);
  margin-left: 30px;
  float: left;
  width: 893px;
}

.table-label {
    color: #ffffff;
}

.receiver-cell,
.receiver-cell-header {
  min-width: 520px;
}

:host ::ng-deep.mat-header-row .mat-header-cell {
    font-weight: bolder !important;
    color: #ffffff;
}
